@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

.ProfileHeader {
    width: 100%;
    font-family: 'Roboto Mono';
    display: flex;
    font-weight: 300;
    font-size: 40px;
    background-color: #d4d4d4;
    height: 110px;
    padding: 0 25px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.ProfilePhoto{
    margin-right: 50px;
    border: 2px solid #694320;
    border-radius: 3px;
    align-self: center;
}
.FullName{
    display: flex;
    align-items: flex-end;
}
.AllPosts{
    background-color: #d4d4d4;
    border-radius: 3px;
    font-size: 30px;
    padding: 10px 50px;
}
.SimplePost img {
    border-radius: 50% 0 0 50%;
    align-self:  flex-start;
}
.SimplePost{
    display: flex;
    font-family: 'Roboto Mono';
    margin-top: 25px;
    padding: 0 15px;
}
.PostText{
    background-color: white;
    border-radius: 0 4px 4px 4px;
    font-size: 20px;
    width: 100%;
    padding: 15px;
}
.NewPost{
    width: 100%;
    background-color: #d4d4d4;
    margin-bottom: 30px;
    min-height: 75px;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.NewPost textarea{
    width: 90%;
    max-width: 100%;
    min-height: 60px;
    resize: none;
}
.NewPost textarea:focus{
    outline: none;
}
.NewPost button:focus{
    outline: none;
}

.NewPost button{
    align-self: center;
    height: 45px;
    width: 20%;
    border: 0;
    border-radius: 3px;
}
.NewPost button:hover{
    background-color: darkseagreen;
    transition: background-color .3s;
    cursor: pointer;
}
.NewPost button:active{
    background-color: dodgerblue;
}
.aboutBlock{
    min-height: 150px;
    background-color: #d4d4d4;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}